{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "jsx-semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "padding-line-between-statements": [
    "error",
    { "blankLine": "always", "prev": "*", "next": "return" },
    { "blankLine": "always", "prev": "*", "next": "block-like" }
  ]
  
  
}
