{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "jsx-semi": false,
  "singleQuote": true,
  "printWidth": 70,
  "padding-line-between-statements": [
    "error",
    { "blankLine": "always", "prev": "*", "next": "return" },
    { "blankLine": "always", "prev": "*", "next": "block-like" }
  ],
  "quotes": ["error", "double"]
  
  
}
